body {
	font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	background-color: #fff;
	color: #333;
	margin: 1rem;
}
div
{
	font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	font-size: .875rem;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
th {
	height: 2.25rem;
	text-align: left;
	padding: 2px 10px;
	border-width: 0 0 1px 0;
	font-weight: 600;
	color: #333;
	transition: box-shadow 0.2s;
	border: 1px solid #C4C4C4;
	background-color: #f8f8f8;
}
tr {
	background: #fff;
	color: #333;
	transition: box-shadow 0.2s;
	outline-color: #93cbf9;
	border: 1px solid #C4C4C4;
}
tr:hover {
	background: #E6F2F9;
}
tr > td {
	height: 2.25rem;
	text-align: left;
	border: 1px solid #C4C4C4;
	padding: 8px 10px;
	overflow: visible;
}
a:link
{
	color:			#007CBE;
	font-weight:		bold;
	text-decoration:	none;
}
a:visited
{
	color:			#007CBE;
	font-weight:		bold;
	text-decoration:	none;
}
a:hover
{
	color:			#007CBE;
	font-weight:		bold;
	text-decoration:	underline;
}
input.filter {
	max-width: 100%;
    color: #333;
    background: #fff;
    padding: 0.5rem;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.DBForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}
select {
    width: 100%;
    padding: 0px;
    font-size: .875rem;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    height: 450px;
}
textarea
{
	width: 100%;
	height:	100px;
	padding: 5px;
	font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	font-size: .875rem;
	border: 1px solid #C4C4C4;
}
option {
	padding: 5px 6px;
	cursor: pointer;
}
option:checked {
	background-color: #E6F2F8;
}
option:hover {
	background-color: #E6F2F8;
}
select:focus-visible {
    outline-offset: none;
}


        /** Fonts **/
        h1, .h1 {
            font-weight: 300;
            font-size: 2rem;
        }
        h2, .h2 {
            font-weight: 500;
            font-size: 1.125rem;
            margin-top: .5rem;
        }
        h3, .h3 {
            font-weight: 500;
            font-size: 1rem;
        }
        h4, .h4 {
            font-weight: 300;
            font-size: 0.875rem;
            text-transform: uppercase;
        }
        h5, .h5 {
            display: block;
            font-weight: 500;
            font-size: 0.875rem;
            margin: 1rem 0 0.625rem 0;
        }
        h6, .h6 {
            font-weight: 500;
            font-size: 0.875rem;
        }
        .body-medium-label {
            display: block;
            font-size: .875rem;
            margin-bottom: 0.625rem;
        }
        .body-regular-label {
            font-size: .875rem;
        }
        .body-light-label {
            font-size: .875rem;
        }
        a, .hyperlink {
            font-size: 0.875rem;
        }
        .hyperlink:hover {
            text-decoration: underline;
        }
        .p, p {
            font-size: .875rem;
        }
        li {
            font-size: .875rem;
        }
        em {
            font-weight: 700;
        }
        /** End Fonts **/

    /** Fonts **/
    @font-face {
        font-family: "Roboto";
        src: url('./Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto";
        src: url('./Roboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: "Roboto";
        src: url('./Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }