body {font-family: Tahoma, Geneva , Verdana, Trebuchet MS, sans-serif; margin: 0; }

#wrapper {background-color: #a9c98a; color: #000066;width: 100%; min-width: 850px; }

#logo {background-color: #d3e4f2;  color: #312d2a;  font-size: large;  border-bottom: 1px solid #000000;  padding: 15px 15px 0 15px;  }

#footer {
	background-color: #d3e4f2;
	color: #312d2a;
	text-align: center;
	font-size: xx-small;
	clear:  both;
}

#nav {background-color: #a9c98a;  color: #000066;  height: 50px;  }
	#nav a { text-decoration: none;  margin: 15px; }
	#nav ul {list-style-type: none;  padding: 0 15px 15px 40px;  margin-top: 25px; }
	#nav li {display: inline; }  

#main-info {  margin-left:  0px;  background-color: #4F94CD;  color: #ffffff;  padding: 20px 20px 60px 20px;   }
	#main-info ul {list-style-type: none;}

/* removing the top margin gets around an issue where margins can escape from their containing div. 
The remaining bottom margin will hold it away from any elements that follow. 
Adding the padding to the sides of the elements within the divs, instead of the divs themselves, 
gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */

h1, h2, h3, h4, h5, h6, p {margin-top: 0;  padding-right: 15px;  padding-left:  15px;  }
	h1 {font-size: large;  }  

 #main-info a:link {
color: #E5E5EF;
text-decoration: underline;
}
 #main-info a:visited {
color: #000066;
text-decoration: underline;
}
 #main-info a:hover {
color: #DD0000;
text-decoration: none;
} 	


	
	

/* Due to variations between browsers, it's best practices to zero padding and margin on lists. 
For consistency, you can either specify the amounts you want here, 
or on the list items (LI, DT, DD) they contain.  */

ul, ol, dl {padding:  0;  margin:  0;  } 

/*  Follwing used in Data Model Report Help  */

#bullets li {margin: 15px 15px 15px 45px;}



/*  Following used in Data Model Table Report Help and DMS_MICRO1_AT_NO_PRE   */
.defn-list {	padding-left:  20px;  }
  .defn-list dd {margin-bottom: 20px;   }
  .defn-list dt {  font-weight: bold;  margin-bottom: 5px;  }  
  
.right {
	float:  right;
	width: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	    }	

/*  The following is used by DMS_MICRO1_AT_NO_PRE         */

.crud-table {width:  100%; margin:  auto;  text-align:  left;  padding-bottom:  5px;  }
	
/*  Following used in MICRO01T   */

#table-main-info {font-size: small;  margin:  auto;  border: 2px solid #a9c98a;  width: 100%;  border-collapse: collapse; }
#table-main-info th {height:  10px; width: 10px; padding:  5px 0 10px 5px;  }
#table-main-info td {height:  12px; padding-left:  5px; }  

.table-header {border: 2px solid #a9c98a; width:  100%;  border-collapse: collapse; } 
  .table-header th {font-size: large;  text-align: left;  }
  .table-header td {border: none;  text-align: center;  }

.column-section { border: 2px solid #a9c98a;  width:  100%  border-collapse: collapse; } 
  .column-section th {font-size: medium; text-align: center;}
  .column-section td {border:  none;  text-align: center; }

.fk-section { border: 2px solid #a9c98a;  width:  100%; border-collapse: collapse; } 
  .fk-section th {font-size: medium; text-align: center;}
  .fk-section td {border:  none;  text-align: center; }
  

.index-table-report { border: 2px solid #a9c98a;  width:  100%;  border-collapse: collapse;} 
  .index-table-report th { text-align:  left;	border-bottom:1px dashed;	font-weight: normal;}
  .index-table-report td {  text-align:  left; 	  }
  .star-column {	font-weight:bolder;	color:   #ff9900; }
  .altcol {background-color:  #3b6f99;}


.column-defn-section {  border: 2px solid #a9c98a;  width:  100%;  border-collapse: collapse;} 
  .column-defn-section th {  font-size: medium;  text-align: left;  border-bottom:1px dashed;    }
  .column-defn-section td {  font-size:  small;  text-align: left;  border: none;  padding-bottom: 7px;  padding-right:  10px;  }
  
/*  The following is used by dm_a                              */

#alpha-pointers {width: 100%;  margin: auto; border-collapse: collapse;   } 
#alpha-pointers th {height: 10px;  padding: 5px 0 10px 0;  }

#table-list {width:  50%;  margin:  auto;  text-align:  left;  border-collapse: collapse;   }
  #table-list th {  height: 10px;  padding: 5px 0 10px 0;  text-align: left;  }
  

/*  The following is used by dms_all_dms                       */

#data-model-list {  width: 50%;  margin: auto;  text-align: left;  padding-bottom: 5px; height:  12px; border-collapse: collapse; }
#data-model-list th { width: 10px;  padding: 5px 0 10px 0;  text-align: left;  }
.dml_dms_name {width: 50%;}
.dml_pdf {width: 25%}

/* ___________________________________________________________________________________________________________________*/

/*.odd {background-color: #4F94CD; color: white; }
.odd a:link {color: white !important;}
.even {background-color: #4F94CD; color: white; }
.even a:link {color: white !important;}*/

/*.even {background-color: #d3e4f2; color: #4F94CD;}
.even a:link {color: #4f94cd !important;}*/


.odd {table-layout:  fixed; width:  100%; white-space:  normal; border:  2px solid black;  }
	.odd td {white-space:  normal;  overflow:  auto;   border:  1px solid black; padding-left: 10px; padding-top:  5px; padding-bottom:  5px}
	.dml_dms_name {width: 50%;  }
	.dml_pdf {width:  10%; text-align: center;}
	.dml_pdf {width:  10%; text-align: center;}
	.dms_pdf {width:  10%; text-align: center;}
	.dms_pdf {width:  10%; text-align: center;}

.even {table-layout:  fixed; width:  100%; white-space:  normal; border:  2px solid black;  }
	.even td {white-space:  normal;  overflow:  auto;   border:  1px solid black; padding-left: 10px; padding-top:  5px; padding-bottom:  5px}
	.dml_dms_name {width: 50%;  }
	.dml_pdf {width:  10%; text-align: center;}
	.dml_pdf {width:  10%; text-align: center;}
	.dms_pdf {width:  10%; text-align: center;}
	.dms_pdf {width:  10%; text-align: center;}

/* ---------------------------------------------------------------------------------------------------------------------*/

.table_detail {table-layout:  fixed; width:  100%; white-space:  normal; border:  2px solid black; border-collapse:collapse; }
	.table_detail td {white-space:  normal;  overflow:  auto;   border:  1px solid black; padding-left: 10px; padding-top:  5px; padding-bottom:  5px}
	.item-name {width: 20%;  }
	.item-value {width:  80%}
	
.purge_detail {table-layout:  fixed; width:  50%; white-space:  normal; border:  2px solid black;  border-collapse: collapse; }
	.purge_detail td {white-space:  normal;  overflow:  auto;   border:  1px solid black; padding-left: 10px; padding-top:  5px; padding-bottom:  5px}
	.purge-nbr {width: 30%;  }
	.purge-name {width:  70%}	

.column_detail {table-layout:  fixed; width:  100%; white-space:  normal; border:  2px solid black; border-collapse: collapse; }
	.column_detail td {white-space:  normal;  overflow:  auto;   border:  1px solid black; padding-left: 10px; padding-top:  5px; padding-bottom:  5px}
	.column-name {width:25%;}
	.data-type {width: 10%; text-align: center; }
	.nullable {width:  5% ; text-align: center;}    
	.code-set {width:  8%; text-align: center;}
	.defn-text {width:  52% ;}
	

.fk_detail {table-layout:  auto; width:  100%; white-space:  normal; border:  2px solid black;  border-collapse: collapse;}
	.fk_detail td {white-space:  normal;  overflow:  auto;   border:  1px solid black; padding-left: 10px; padding-top:  5px; padding-bottom:  5px}
	.item-name {width: 15%;  }  
	.referenced-column {width: 30%; text-align:  center;  }
	.item-table {width:  30%; text-align: center;}	
	.item-column{width: 25%; text-align: center;}


.entire-ix-table {
.overflow: auto;
}

.scrollable-table {
overflow: auto; 
 font-size:  small;
}

.table-header-rotated th.row-header {
	width: auto;  
	padding-right: 10px;
	text-align: left;
	 font-size:  small;
	
}	
	
.table-header-rotated td{
  /*  width: 20px;*/
  border-left: 1px solid #000000;
/*  border-right: 1px solid #000000;  */
  border-bottom: 1px solid #000000;
  vertical-align: middle;
  text-align: center; 
  
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size:  small;  
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg) ;
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg) ;  
  overflow: hidden;
  border-left: 1px solid #000000;
  /*border-right: 1px solid #000000;  */
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;  
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  /* width: 100%;  */
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  white-space: nowrap; /*whether to display in one line or not*/
}
	

	