* #topAnchor {
  /* needed to prevent spacing problem from prism styling for headlines */
  height: 1px;
}

.card {
  padding: 0 24px 16px 24px;
  /*border-top: 3px solid #027cb1;*/
  /*border-top: 3px solid #37A0CE;*/
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1));
  /**box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  border-radius: 2px 2px 4px 4px;
  color: #212121;
  background-color: #fff;
}

#mdContainer {
  line-height: 1.5;
}

#mdContainer h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mdContainer pre {
  padding: 16px;
  background-color: #f6f8fa;
  display: block;
  overflow: auto;
  max-height: 60vh;
}

#mdContainer code {
  padding: .2em .2em;
  background-color: #f6f8fa;
  font-size: 90%;
}

#mdContainer pre code {
  padding: 0;
}

#mdContainer table {
  display: table;
  border-radius: 2px;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  overflow: auto;
}

#mdContainer td,
#mdContainer th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

#mdContainer tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#mdContainer .token.string {
  color: navy;
}

#mdContainer a {
  text-decoration: none;
  word-wrap: break-word;
  color: #027cb1;
}

#mdContainer a:hover {
  text-decoration: underline;
}

#mdContainer ol {
  list-style-type: lower-roman;
}

#mdContainer ol>li>ol {
  list-style-type: lower-alpha;
}

@media print {
  #mdContainer pre {
    max-height: none;
  }
}