* {
 --selected-nav-color: #027cb1;
}
   
.category {
 border-left: 3px solid transparent;
 border-top: 1px solid var(--divider-color, #b6b6b6);
 padding: 0 16px;
 line-height: 40px;
 color: #212121;
 font-weight: bold;
 display: block;
}

.menu-end {
 height: 16px;
}

.category:first-child {
 border-top: none;
}

.item {
 display: block;
 border-left: 3px solid transparent;
 padding: 0 16px;
 line-height: 40px;
 color: #737373;
}

.category[data-selected] {
 color: #212121;
}

.item[data-selected] {
 border-left: 3px solid var(--selected-nav-color, blue);
 color: var(--selected-nav-color, blue);
 font-weight: bold;
}

.item:hover {
 background-color: #efefef;
}

a {
 text-decoration: none;
 color: inherit;
}

[hidden] {
 display: none !important;
}