* {
 --divider-color: #ededed;
 --app-primary-color: #4285f4;
 --app-secondary-color: black;
 --paper-card: {
   /*border-top: 3px solid #027cb1;*/
   /*border-top: 3px solid #37A0CE;*/
   box-sizing: border-box;
   box-shadow: 0 1px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1));
   /**box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
   border-radius: 2px 2px 4px 4px;
   color: #212121;
   background-color: #fff;
 }
 ;
}

#mainToolbar {
  box-sizing: border-box;
  /**background-color: #51534A;*/
  background-color: #fff;
  height: 96px;
}

.logo-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.logo {
  /*width: 200px;*/
  height: 52px;
  background-size: 100% 100%;
}

#secondaryToolbar [main-title] {
  color: #212121;
  font-weight: bold;
  font-size: 16px;
}

#secondaryToolbar {
  background-color: #fbfbfb;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}

#secondaryToolbarContent {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1024px;
  height: 64px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

app-header paper-icon-button {
  --paper-icon-button-ink-color: white;
}

.app-footer {
  background-color: #394550;
  min-height: 64px;
}

.app-footer-content {
  position: relative;
  padding: 32px 32px;
  max-width: 1024px;
  margin: 0 auto;
}

.app-footer-nav-section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: right;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.app-footer-nav-section a {
  text-decoration: none;
  margin-right: 16px;
  color: #fff;
}

.app-footer-nav-section a:hover {
  text-decoration: underline;
}

.copyright-section {
  margin-top: 16px;
  font-size: 12px;
  color: #a7adb2;
}

.app-footer-fab {
  border-radius: 100%;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  height: 56px;
  width: 56px;
  /*background-color: #AEEA00;*/
  background-color: #95BFDD;
  color: #212121;
  top: -24px;
  right: 32px;
  position: absolute;
}

.app-footer-fab:hover {
  color: #000;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.layout-divider {
  display: block;
  height: 5px;
  background-color: blue;
  /*background: linear-gradient(to right, #fff 0, #95BFDD 33%, #58b23d 66%, #000 100%);*/
  background: #58b23d;
}


.app-content {
  box-sizing: border-box;
  padding: 32px;
  max-width: 1024px;
  margin: 0 auto;
  @media screen and (min-width: 960px) {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  };
}

.app-content-nav {
  box-sizing: border-box;
  width: 256px;
  flex-shrink: 0;
  margin-right: 32px;
  @media screen and (max-width: 960px) {
    display: none;
  };
}

.nav-menu {
  /*border-top: 3px solid #027cb1;*/
  /*border-top: 3px solid #37A0CE;*/
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1));
  /**box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
  border-radius: 2px 2px 4px 4px;
  color: #212121;
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}

.app-content-views {
  min-width: 0;
  /*http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

[hidden] {
  display: none !important;
}

.app-content {
  min-height: 90vh;
}

.nav-scroller {
  height: 100%;
  overflow: auto;
}

@media print {
  #drawer {
    display: none;
  }

  app-header {
    display: none;
  }

  app-drawer-layout {
    --app-drawer-width: 0;
  }
}