
Body {
    font-size : 8 pt;
    font-family : Arial, Tahoma, sans-serif;
    background-color : window;
    color : black;
}
.Title {
text-align : center;
    width : 100%;
    font-family : "Arial";
    font-size : 16pt;
    font-weight : bold;
    background-color : white;
    vertical-align : central;
    line-height : 18pt;
    color : black;
}
.TitleCtxt {
    font-size : 12pt;
}

.TitleUsr {
    font-size : 12pt;
    font-style : italic;
}

.Header {
    width : 100%;
    font-size : 14pt;
    font-weight : bold;
    background-color : #000080;
    vertical-align : top;
    line-height : 12pt;
    color : white;
}
.Header2 {
    width : 100%;
    border-bottom : 2px;
    border-bottom-color : #14519d;
    border-bottom-style : solid;
    background-color : #D1E9FE;
}
.Header2 td {
    font-size : 14pt;
    color : black;
    font-weight : bold;
}
.Header2 a {
    font-size : 9pt;
    font-weight : normal;
    text-align : right;
}
.SubHeader {
    width : 100%;
    font-family : "Arial";
    font-weight : bold;
    background-color : white;
    vertical-align : top;
    line-height : 12pt;
    color : black;
}
.SubHeader2 {
    width : 100%;
    font-family : "Arial";
    font-weight : bold;
    line-height : 10pt;
    font-size : 8pt;
    color : black;
    border-bottom : 1px groove black;
}
.SubHeader3 {
    width : 100%;
    border-bottom : 1px;
    border-bottom-color : #14519d;
    border-bottom-style : solid;
}
.SubHeader3 td {
    font-size : 10pt;
    color : #14519d;
    font-weight : bold;
}
.SubHeader3 a {
    font-size : 9pt;
    font-weight : normal;
    text-align : right;
}
table.ParserTable {  
  border-collapse: collapse;
}
table.ParserTable tbody tr th{
  font-weight : bold;
  text-align: center;
  font-size : 10pt;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 3px;
}
table.ParserTable tbody tr td{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 3px;
  white-space: normal;
}
td.ParserEmptyCell {
  text-align: center;
}
table.Box{
    width: 100%;
    border-collapse : collapse;
    border-spacing : 0;
}

table.Box tbody tr td,
table.Box tr td{
    vertical-align : top;
    border-style : solid;
    border-color : #E4E4E4;
    border-width : 1px;
    min-width : 200px;
}
table.List {
    border-spacing : 0;
    border-collapse : collapse;
    width : 100%;
    text-align : left;
}

table.List tr th,
table.List tbody tr th {
    color : #777777;
    font-weight : normal;
    font-size : 9pt;
    padding-right : 12px;
    white-space : nowrap;
    background-color : #D1E9FE;
    text-align : left;
}

table.List tr td,
table.List tbody tr td
{
    border-bottom-color : #E4E4E4;
    border-bottom-width : 1px;
    border-bottom-style : solid;
    font-size : 9pt;
    white-space : nowrap;
    border-right-width : 0px;
    border-left-width : 0px;
    border-top-width : 0px;
    padding-right : 12px;
    vertical-align : middle;
}

table.SubList{
    border-spacing : 0;
    border-collapse : collapse;
}
table.SubList tr td,
table.SubList tbody tr td{

    border-width : 0px;
    padding:0px;
}

table.KeyValue{
    width : 100%;
    border-spacing : 0;
    border-collapse : collapse;
}
table.KeyValue tr td{
    white-space : normal;
    padding:3px;
}
#GhostText {
    color : #777777;
    font-weight : normal;
    font-size : 9pt;
}

#AffectedReportsCell {
  white-space : normal;
}

.NA {
    font-size : 9pt;
}
.T1 {
    width : 100%;
    border-spacing : 0;
    padding : 0;
}

.T1Head {
    vertical-align : top;
    font-weight : bold;
}
.T1Value {
    color : windowtext;
    padding-right : 15pt;
    vertical-align : top;
}
.FixedHeight {
  max-height : 200px;
  overflow : auto;
}
.T1ValueRed {
    color : red;
    font-weight : bold;
    padding-right : 15pt;
    vertical-align : top;
}

.T1ValCur {
    color : windowtext;
    vertical-align : top;
    text-align : right;
}
.THLeft {
    font-weight : Bold;
    text-align : Left;
    vertical-align : Top;
}
.THRight {
    font-weight : Bold;
    text-align : Right;
}
.THLeftULB {
    font-weight : Bold;
    text-align : Left;
    vertical-align : Top;
    text-decoration : underline;
}
.THRightULB {
    font-weight : Bold;
    text-align : Right;
    text-decoration : underline;
}
.THCenterULB
{
    font-weight : Bold;
    text-align : center;
    vertical-align : Top;
    text-decoration : underline;
}
TD {

    font-size : 9pt;
    white-space : nowrap;
}

THEAD {
    border-style : solid;
    border-width : 2px;
    border-color : black;
}
A {
    color : #0000FF;
    text-decoration : none;
}
A:hover {
    text-decoration : underline;
}
A.Sort {
    text-decoration : underline;
}

IMG {
    cursor : pointer;
    margin : 0mm;
    border : 0mm;
    padding : 0mm;
}
IMG.Sort {
    vertical-align : Top;
    border : none;
    height : 4mm;
    width : 4mm;
    margin : 0mm;
}